$move_down: 0px;
$move_horz: 300px;
$small_intestine: 6000px;
$jujunum_down: 7000px;
$extra_move_horz: 500px;
$brush_move_horz: 600px;
$brush_move_top: 1000px;

body {
	width: 100%;
	margin: 0;
}

#header {
	height: 60px;
	margin: 0px;
	width: 100%;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.35);
	z-index: 200;
	font-size: 25px;
}

input, textarea {
	width: 200px;
	height: 50px;
}
input {
	font-size: 25px;
	margin-right: 10px;
}

#logo {
	width: 350px;
	position: relative;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

#login {
	position: absolute;
	width: 900px;
	margin-right: 50px;
	margin-top: 10px;
	left: 1700px;
	top: 60px;
}

p {
	position: absolute;
	left: 1736px;
} 

#register_bg {
	position: absolute;
	width: 200px;
	top: 38px;
	left: 1500px;
}
#register_php {
	position: absolute;
	width: 200px;
	top: 65px;
	left: 1500px;
	cursor: pointer;
}

input[type=submit] {
	font-family: 'Schoolbell';
	cursor: pointer;
	width: 150px;
	height: 50px;
}

#organ_container {
	position: relative;
	left: 240px;
	height: 9400px;
}
/*brain*/
#brain_svg {
	position: absolute;
	top: 0px;
	width: 1300px;

}

/*mouth*/
li {
	  min-width: 100px;
	  min-height: 100px;
	  margin: 10px;
	  display: inline-block;
	  cursor: pointer;
	  z-index: 15;
	}

ul {
	z-index: 15;
}

#mouth {
	width: 350px;
	z-index: 10;
	position: absolute;
	left: 400px;
	top: 100px;
}

#tounge {
	width: 700px;
	height: 200px;
	position: absolute;
	top: 900px + $move_down;
	left: 100px + $move_horz;
}

/*esoph*/

#epiglottisSvg {
 	top: 210px;
 	left: 640px;
 	width: 280px;
 	position: absolute;
 	z-index: 10;
}

#epi_target {
	cursor: pointer;
	top: 240px;
 	left: 680px;
 	width: 150px;
 	height: 150px;
 	position: absolute;
 	z-index: 12;
 	border-radius: 100px;
}

#epiglottis{
	cursor: pointer;
} 

#sphincterSVG {
	width: 500px;
	position: absolute;
	top: -40px;
	left: 100px;
	z-index: 12;
}

#sphincter {
	cursor: pointer;
}

#sphincter_arrow {
	position: absolute;
	top: 1810px;
	left: 1055px;
	z-index: 12;
	width: 180px;
	display: none;
}

#entering_food {
	position: absolute;
	z-index: 15;
	width: 630px;
	left: 370px;
	top: -245px;
	display: none;
}

#esoph {
	width: 800px;
	position: absolute;
	top: 230px;
	left: 620px; 
	z-index: 10;
}


/*glands*/
#saliva_top {
	z-index: 10;
	position: absolute;
	top: 1px;
	left: 595px;
	width: 430px;
}

#saliva_bottom {
	z-index: 10;
	position: absolute;
	top: 400px;
	left: 470px;
	width: 420px;
}

.gland {
	 	cursor: pointer;
	 }

/*stomach*/

#stomachSVG { 
	top: 0px;
	position: absolute;
	left: 0px;
	z-index: 10;
	width: 1280px;
}

#defaultCanvas {
	z-index: 15;
	position: absolute;
	left: 500px;
	top: 300px;
}

.hormone {
	cursor: pointer;
	width:  200px;
	position: absolute;
	top: 180px;
	left: 670px;
	z-index: 15;
}

#hormone2 {
	top: 450px;
	left: 930px;
}

.pepsin {
	width: 60px;
	z-index: 14;
}

#handleSVG {
	width: 150px;
	top: 630px;
	position: absolute;
	left: 400px;
	z-index: 12;
}

#handle {
	cursor: pointer; 
}

#chyme {
	position: absolute;
	top: 570px;
	z-index: 11;
	width: 850px;
	left: -340px;
}

#stomach_container {
	top: 1893px;
	position: absolute;
	height: 1500px;
	width: 1280px;
	left: 670px;
}

#intestine_container{
	position: absolute;
	top: 2560px;
	left: 150px;
}
#jujun_container{
	position: absolute;
	top: 500px;
}

#intestineSVG {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1800px;
	z-index: 7;
}

#large_intestine {
	z-index: 30; 
}

#other_organs {
	position: absolute;
	width: 1200px;
	left: 180px;
	top: -720px;
	z-index: 9;
}

#pancreas_button {
	cursor: pointer;
}

#pancreas_buttonSVG {
	position: absolute;
	width: 35px;
	top: -130px;
	left: 810px;
	z-index: 11;
}

#gallbladderSVG {
	position: absolute;
	width: 300px;
	top: -357px;
	z-index: 11;	
	left: 400px;
}

#gallbladder {
	cursor: pointer;
}

.bubble {
	display: none;
}

.front {
	z-index: 16;
}

.brush {
	z-index: 12;
	position: absolute;
	cursor: pointer;
}


#brush1 {
	left: 314px;	
	top: 108px;
	width: 190px;
	
}

#brush2 {
	left: 191px;
	top: 160px;
	width: 150px;
	
}

#brush3 {
	left: 199px;
	top: 348px;
	width: 300px;
	
}

#brush4 {
	left: 331px;
	top: 377px;
	width: 240px;
	
}

#brush5 {
	left: 520px;
	top: 341px;
	width: 170px ;
	
}

#brush6 {
	left: 411px;
	top: 228px;
	width: 140px;
	
}

#brush7 {
	left: 626px;
	top: 239px;
	width: 130px;
	
}

#brush8 {
	left: 678px;
	top: 325px;
	width: 150px;
	
}

#brush9 {
	left: 767px;
	top: 264px;
	width: 80px;
	
}

#brush10 {
	top: 248px;
	width: 140px;
	left: 790px;
}

#brush2_arrow {
	width: 70px;
	position: absolute;
	left: 286px;
	top: 283px;
	z-index: 14;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    display: none;
}

#brush3_arrow {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    z-index: 14;
    position: absolute;
    width: 60px;
    left: 309px;
    top: 310px;
    display: none;
}

#brush4_arrow {
	width: 50px;
	left: 420px;
	z-index: 14;
	top: 292px;
	display: none;
}

#brush5_arrow {
	width: 50px;
	left: 416px;
	z-index: 14;
	top: 336px;
	display: none;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#brush7_arrow {
	display: none;
	z-index: 14;
	width: 50px;
	left: 798px;
	top: 390px;
}

#containment {
	position: absolute;
	width: 250px;
	height: 270px;
	/*background-color: red;*/
	/*opacity: .4;*/
	left: 100px;
	top: 250px;
	z-index: 13;
}

#empty_magnifyn {
	z-index: 15;
	position: absolute;
	width: 102px;
}

#magnifyn_background {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 12;
}

#magnifyn_arrow {
	width: 200px;
	top: 250px;
	left: -100px;
	display: none;
}
.nutrient {
	width: 70px;
	position: absolute;
	z-index: 13;
	display: none;
}

.fatty_acid{
	width: 170px;
}

	/* Walker */

$minus: 6500;
$minusLeft: 200;
#nutrient_fattyacid {
	width: -140px;
	left: 1375px;
	top: -100px;
}
#nutrient_fattyacid2 {
	left: 1241px;
	top: 505px ;
}
#nutrient_fattyacid3 {
	left: 631px ;
	top: 765px;	
}

#nutrient_protein {
	top: 200px;
	left: 1016px;
}

#nutrient_protein2 {
	left:946px;
	top: 440px ;
}

#nutrient_protein3 {
	left: 1465px;
	top: 104px;

}

#nutrient_sugar {
	top: 41px;
	left: 1245px;
} 

#nutrient_sugar2 {
	left: 1026px;
	top: 699px;
}
#nutrient_sugar3 {
	left: 1452px;
	top: 366px;

}

#spongeSVG {
	width: 400px;
	top: 250px;
	position: absolute;
	z-index: 10;
	left: 300px;
	cursor: pointer;
}


#water_bottleLeft {
	position: absolute;
	width: 200px;
	top: 600px;
	left: -100px;
	z-index: 30;
}

#water_bottleRight {
	position: absolute;
	width: 250px;
	top: 470px;
	left: 1690px;
	z-index: 30;
}

#chyme2 {
	position: absolute;
	top: 6000px;
	width: 600px;
}

#bucket {
	position: absolute;
	top: 50px;
	left: 700px;
	width: 400px;
	z-index: 9;
	cursor: pointer;
}

#bucket_target {
	position: absolute;
	width: 150px;
	height: 230px;
	top: 160px;
	left: 750px;
	cursor: pointer;
	z-index: 35;

}


/*arrows*/

.arrows {
	position: absolute;
}

#bucket_arrow {
	display: none;
	top: 250px;
	left: 700px;
	z-index: 15;
	width: 80px;
}

#saliva_arrows {
	width: 400px;
	left: 715px;
	top: 70px;
	display: none;
}

#saliva_arrow_bottom {
	z-index: 15px;
	width: 270px;
	left: 670px;
	top: 650px;
	display: none;
}

#saliva_arrow_bottom2 {
	z-index: 15px;
	width: 350px;
	left: 420px;
	top: 740px;
	display: none;
}
#epi_clicker {
	top: 290px;
	left: 810px;
	z-index: 15;
	width: 50px;
	display: none;
}

#hormone_arrows {
	display: none;
	top: 2040px;
	left: 1370px;
	z-index: 12;
	width: 190px;
}

#key_buttons {
	position: absolute;
	top: 250px;
	left: 1220px;
	width: 250px;
	display: none; 
	
}

p{
	max-width: 600px;

}

#initial_click_arrow {
	top: 280px;
	left: 80px;
	width: 250px;
}

#enter_button {
	top: 300px;
	left: 900px;
	z-index: 12;
	width: 100px;
	display: none;
}

#chyme_arrow {
	top: 6173px;
	left: 2400px;
	z-index: 12;
	width: 100px;
	display: none;
}

#select_brush_arrow{
	display: none;
	z-index: 50;
	top: 60px;
	left: 120px;
	width: 300px;
}

#gallbladder_arrow {
	display: none;
	top: -100px;
	left: 360px;
	z-index: 10;
	width: 200px;
}

#pancreas_arrow {
	display: none;
	top: -140px;
	left: 730px;
	z-index: 10;
	width: 100px;
}

#sponge_arrow {
	display: none;
	top: 400px;
	z-index: 20;
	left: 500px;
	width: 200px;
}


/*info*/

.info {
	display: none;
	position: absolute;
	width: 1100px;
	z-index: 20;
	font-family: Chalkboard, Schoolbell;
}
#teeth_info {
	top: 40px;
	width: 500px;
	display: block;
	cursor: pointer;
}

#saliva_info {
	top: 50px;
	left: 850px;
	width: 500px;
	cursor: pointer;
}

#epiglottis_info {
	width: 600px;
	top: 380px;
	left: 800px;
}

#esoph_info {
	width: 500px;
	left: 1200px;
	top: 1100px;
}

#sphincter_info {
	top: 1600px;
	left: 1100px;
	width: 500px;
}

#stomach_info {
	top: 1800px;
	left: 1350px;
	width: 500px;
}

#stomach_info2 {
	top: 1800px;
	left: 1350px;
	width: 500px;
}

#space_bar {
	top: 300px;
	left: 800px;
	display: none;
	width: 250px;
	z-index: 12;
}

#hormone_info {
	width: 500px;
	top: 2100px;
	left: 929px;
}

#pepsin_info {
	width: 500px;
	top: 2200px;
	left: 1799px;
}

#acid_info {
	left: 1700px;
	top: 2200px;

}

.acid {
	width: 70px;
}

#chyme_info {
	top: 2290px;
	left: 520px;
	width: 500px;
}

#small_int_enter_button {
	display: none;
	top: 2675px;
	width: 80px;
	left: 620px;
	z-index: 12;
	cursor: pointer;
}

#small_int_welcome {
	top: 2490px;
	z-index: 50;
	left: 350px;
	width: 500px;
}

#duo_info {
top: -80px;
z-index: 50;
left: 10px;
width: 500px;
cursor: pointer;
}

#brush_border_info {
	z-index: 20;
	top: 200px;
	left: 290px;
	width: 400px;
}

#magnifyn_glass {
	width: 200px;
	position: absolute;
	top: 300px;
	left: 115px;
	z-index: 30;
}

#gall_panc_info {
top: -290px;
left: 60px;
z-index: 50;
width: 600px

}

#jujun_welcome {
	top: 100px;
	left: 900px;
	z-index: 16;
	width: 500px;
}

#jujun_info {
	top: 300px;
	left: 1000px;
	z-index: 16;
	width: 600px;
}

.fan {
	width: 100px;
	position: absolute;
	cursor: pointer;
	z-index: 30;
}

#fan1 {
	top: 640px;
	left: 1525px;
}

#fan2 {
	top: 318px;
	left: 67px;
}

#fan3 {
	top: 468px;
	left: 126px;
}


#fan4 {
	top: 1658px;
	left: 168px;
}

#fan5 {
	top: 383px;
	left: 1625px;
}

#fanStand1 {
	top: -82px;
	left: 1623px;
	width: 80px;
}

#fanStand2 {
top: 30px;
	left: 81px;
	width: 100px;

}

#large_int_welcome {
	top: 500px;
	left: -100px;
	z-index: 50;
	width: 500px;
}

#fan_instruction {
	display: none;
	top: 8000px;
	position: absolute;
	left: 1050px;
	z-index: 50;
}

#enter_large_int {
	/*display: none;*/
	top: 600px;
	left: 160px;
	cursor: pointer;
	width: 160px;
	z-index: 16;
}

#large_intestine_info {
	display: none;
	top: 7000px;
	left: 600px;
	z-index: 50;
	cursor: pointer;
}



#take_the_quiz {
	position: absolute;
	left: 1170px;
	top: 4580px;
	width: 200px;
}

#end {
	position: absolute;
	top: 4500px;
	width: 1800px;
	left: 340px;
}